@media (max-width: 1180px) {
    header nav, .vrap .nav-t-al{
        width: 90%;

    }

    footer .nav {
        width: 95%;

    }

    footer .nav ul {
        justify-content: normal;
        gap: 10px;
    }
}

@media (max-width: 1113px){
.content-t-al .tomato-hybrids h2{
font-size: 39px;
    margin-bottom: 30px;
}
    .content-t-al .tomato-hybrids p{
        font-size: 15px;
        width: 90%;
    }
    .breeding-info .container .breeding-card  h3{
        font-size: 18px;
        margin-bottom: 18px;
    }
    .breeding-info .container .breeding-card br{
        display: none;
    }
    .breeding-info .container .breeding-card p{
        font-size: 15px;
    }
.variety-catalog p{
    font-size: 15px;
}
    .variety-catalog .description .line{
        margin-right: 10px;
        margin-left: 10px;
    }
    .variety-catalog .container {
        grid-template-columns: 1fr auto;
        column-gap: 0;
        max-width: 800px;
        width: 100%;
        margin: auto;
    }

}

@media (max-width: 1114px) {

    .vision-mission {

    }

    .vision-mission img {
        height: 480px;
        width: 480px;
    }

    .vision-mission .vision {
        opacity: 1;
        transform: translateX(0);
        width: 1030px;
    }

    .vision-mission .mission {
        width: 1030px;
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1075px) {
    .vision-mission img {
        height: 400px;
        width: 400px;
    }

    .vision-mission .vision {
        width: 940px;
        font-size: 17px;

    }

    .vision-mission .mission {
        width: 940px;
        font-size: 17px
    }

    footer .nav {

        font-size: 13px;
    }

    footer .nav img{
        height: 25px;
        width: 25px;
    }

    footer .nav ul {
        justify-content: normal;
        gap: 10px;
    }
    .content-t-al .tomato-hybrids{
        padding-left: 40px;
    }
    .content-t-al .tomato-hybrids h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .content-t-al .tomato-hybrids p{
        font-size: 14px;
        width: 85%;
    }
    .breeding-info .container .breeding-card  h3{
        font-size: 18px;
        margin-bottom: 18px;
    }
    .breeding-info .container .breeding-card br{
        display: none;
    }
    .breeding-info .container .breeding-card p{
        font-size: 15px;
    }
    .variety-catalog p{
        font-size: 15px;
    }
    .variety-catalog .description .line{
        margin-right: 10px;
        margin-left: 10px;
    }
    .variety-catalog .container {
        grid-template-columns: 1fr auto;
        column-gap: 0;
        max-width: 740px;
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1051px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 18px 0;
    }

    .categories .categories-card:nth-child(3n + 1):last-child {
        grid-column: 2 / 3;
    }
    .categories .categories-card img{

    }
    .categories .categories-card p{
        font-size: 17px;
    }

    .activities{
        padding: 40px;
    }
    .activities h2{
        font-size: 40px;
        margin-bottom: 25px;
    }

    .activities .activities-categories .activities-card h3{
        font-size: 18px;
        padding-bottom: 18px;
    }
    .activities .activities-categories .activities-card p{
        font-size: 15px;
    }
    .activities .activities-categories .activities-card img{
        width: 260px;
        height: 220px;
    }
    .activities .highlight{
        margin-bottom: 15px;
    }
}
@media (max-width: 959px){
    .content-t-al .tomato-hybrids{
        padding-left: 20px;
    }
    .content-t-al .tomato-hybrids h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .content-t-al .tomato-hybrids p{
        font-size: 14px;
        width: 85%;
    }
    .breeding-info .container .breeding-card  h3{
        font-size: 18px;
        margin-bottom: 18px;
    }
    .breeding-info .container .breeding-card br{
        display: none;
    }
    .breeding-info .container .breeding-card p{
        font-size: 15px;
    }
    .variety-catalog p{
        font-size: 15px;
    }
    .variety-catalog .description .line{
        margin-right: 10px;
        margin-left: 10px;
    }
    .variety-catalog{
        width: 900px;
    }
    .variety-catalog .container {

       margin-left: 0;
       max-width:740px;
    }
    .variety-catalog .container .tomato-card .container{
        margin-left: 0;
    }
}
@media (max-width: 939px) {
    .vision-mission{
        padding: 51px 0 80px 0;
    }
    .vision-mission img {
        height: 350px;
        width: 350px;
    }

    .vision-mission .vision {
        width: 880px;
    }
    .vision-mission .vision p{
        font-size: 18px;
    }
    .vision-mission .mission h2 {
       font-size: 49px;
        margin-bottom: 30px;
    }

    .vision-mission .mission {
        width: 880px;
    }
    .vision-mission .mission p{
        font-size: 18px;
    }
    .vision-mission .vision h2{
        font-size: 49px;
        margin-bottom: 30px;
    }
    .vision-mission .highlight{
        margin-bottom: 18px;
    }

    footer .nav {
        width: 100%;

    }
    .hero h1{
        font-size: 40px;

    }
}

@media (max-width: 897px){
    .activities{
        padding: 30px;
    }
    .activities h2{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .activities .activities-categories .activities-card h3{
        font-size: 15px;
        padding-bottom: 14px;
    }
    .activities .activities-categories .activities-card p{
        font-size: 13px;
    }
    .activities .activities-categories .activities-card img{
        width: 240px;
        height: 200px;
    }
    .activities .highlight{
        margin-bottom: 15px;
    }
    .activities .activities-categories{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 18px 0;
    }
    .activities .activities-categories .activities-card:nth-child(3):last-child {
        grid-column: span 2;
        justify-self: center;
    }


    footer .nav {

        font-size: 12px;
    }

    footer .nav img{
        height: 22px;
        width: 22px;
    }

    footer .nav ul {
        justify-content: normal;
        gap: 10px;
    }

    .copy p{
        font-size: 12px;
    }

    header nav , .vrap .nav-t-al{
        width: 90%;

    }
    header nav a, .vrap .nav-t-al a{
        font-size: 14px;
    }

    header nav a img, .vrap .nav-t-al a img{
        height: 103px;
        width: 216px;
    }

    

}



@media (max-width: 887px) {
    header .menu-btn {
        display: block;
    }
    header .menu, .vrap .nav-t-al .menu-t-al{
        display: none;
    }
    header .menu.active, .vrap .nav-t-al .menu-t-al.active{
        display: block;
    }

    .vision-mission{
        padding: 40px 0 69px 0;

    }
    .vision-mission img {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }

    .vision-mission .vision {
        width: 400px;
        flex-direction: column-reverse;
    }
    .vision-mission .vision p{
        font-size: 15px;
    }
    .vision-mission .mission h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .vision-mission .mission {
        width: 400px;
        flex-direction: column;
    }
    .vision-mission .mission p{
        font-size: 15px;
    }
    .vision-mission .vision h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .vision-mission .highlight{
        margin-bottom: 18px;
    }
.hero{
        padding: 220px 0;
    }

    footer .nav {
        width: 100%;
        font-size: 8px;
        grid-template-columns: auto;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    }

@media (max-width: 632px) {
    .activities .activities-categories{
        display: block;
    }
}